.movies__list{
    list-style: none;
    padding: 80px 0 0;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 37px 24px;
}

.movies__list_saved{
    margin: 0 auto 107px;
}

@media screen and (max-width: 1279px) {
    .movies__list{
        max-width: 708px;
        gap: 30px;
    }
}
