.profile-btn__list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 17px;
}

.profile-btn__link-item{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

.profile-btn__link{
    text-decoration: none;
    color: #000;
}