.auth{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__logo-container{
    display: flex;
    justify-content: flex-start;
}

.auth__container{
    margin: 0;
    max-width: 396px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.auth__title{
    margin: 40px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.auth__list-fields{
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth__list-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__label{
    font-size: 10px;
    line-height: 12px;
    color: #a0a0a0;
}

.auth__input{
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 15px;
    border: none;
}

.auth__submit-btn{
    width: 100%;
    background-color: #3456F3;
    border: none;
    border-radius: 3px;
    padding: 13px 15px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 179px 0 0;
}

.auth__caption{
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 17px;
    color: #a0a0a0;
}

.auth__link{
    text-decoration: none;
    color: #3456F3;
}

@media screen and (max-width: 767px) {
    .auth__container{
        align-items: center;
        width: 260px;
    }

    .auth__title{
        margin: 50px 0 0;
    }

    .auth__list-fields{
        width: 100%;
        margin: 80px 0 0;
    }

}