.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form__container{
    max-width: 1140px;
    width: 100%;
    margin: 60px 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.search-form__form{
    position: relative;
    width: 100%;
}

.search-form__input{
    display: flex;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    background-color: #f9f9f9;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    padding: 14px 0 14px 22px;
    border-radius: 40px;
}

.search-form__input::placeholder{
    color: #a0a0a0;
}

.search-form__submit-btn{
    position: absolute;
    top: 6px;
    right: 6px;
    background-image: url('../../images/search-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3456F3;
    border-radius: 48px;
    width: 34px;
    height: 34px;
    border:0;
    cursor: pointer;
}

.search-form__short-container{
    display: flex;
    gap: 12px;
    margin: 41px 0 69px;;
}

.search-form__label{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.search-form__btn-container{
    width: 36px;
    height: 20px;
    border: 0;
    border-radius: 20px;
    background-color: #2BE080;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all .3s;
}

.search-form__btn-container_deactivated{
    background-color: #EBEBEB;
}

.search-form__tumb-btn{
    position: absolute;
    right: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
    width: 8px;
    height: 8px;
    padding: 0;
    cursor: pointer;
}

.search-form__tumb-btn_deactivated{
    left: 6px;
    background-color: #F5F5F5;
}

@media screen and (max-width: 1279px) {
    .search-form__container{
        margin: 80px 30px 0;
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 767px) {
    .search-form__container{
        margin: 80px 14px 0;
        width: calc(100% - 28px);
    }

    .search-form__input{
        font-size: 11px;
        line-height: 17px;
        padding: 14px 0 14px 19px;
    }


    .search-form__short-container{
        gap: 13px;
        margin: 43px 0 49px;
    }
}