.header{
    display: flex;
    justify-content: center;
}

.header_bg_landing{
    background-color: #073042;
}

.header__container{
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 18px 70px;
    box-sizing: border-box;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header__container{
        margin: 18px 30px;
    }
}

.header__list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

.header__list_gap_auth{
    gap: 30px;
}

.header__list_gap_movies{
    gap: 16px;
}


.header__link{
    text-decoration: none;
}

.header__link_color_black{
    color: #000;
}

.header__link_color_white{
    color: #fff;
}

.header__btn{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

.header__column{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

.header__column_align_left{
    justify-content: flex-start;
}

.header__column_align_center{
    justify-content: center;
}

.header__column_align_right{
    justify-content: flex-end;
}

.header__btn_type_signin{
    background-color: #2BE080;
    border-radius: 3px;
    padding: 8px 20px;
}

.header__btn_type_account{
    background-color: #f9f9f9;
    border-radius: 4px;
    padding: 8px 7.25px;
}