.header{
    min-height: 74px;
    display: flex;
    justify-content: center;
}

.header_bg_landing{
    background-color: #073042;
}

.header__container{
    width: calc(100% - 140px);
    display: flex;
    align-items: center;
}

.header__logo{
    margin: 0 auto 0 0;
}

.header__list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__link{
    text-decoration: none;
}

.header__btn{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.header__btn_type_signin{
    background-color: #2BE080;
    border-radius: 3px;
    padding: 8px 20px;
}

.header__btn_type_signup{
    margin-right: 30px;
}

.header__link_type_signin{
    color: #000;
}

.header__link_type_signup{
    color: #fff;
}