.popup {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    align-items: center;
    justify-content: center;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 430px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 700px) {
    .popup__container {
        width: 282px;
    }
}

.popup__sign{
    margin: 60px 0 0 0;
}

.popup__title {
    width: 358px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 32px 0 60px 0;
}
  
@media screen and (max-width: 700px) {
    .popup__title {
        width: 238px;
        font-size: 18px;
        line-height: 21.78px;

    }
}

.popup__close-btn{
    position: absolute;
    border: none;
    top: -40px;
    right: -40px;
    background-image: url('../../images/popup-close.svg');
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-position: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all .3s;
}
  
.popup__close-btn:hover{
    opacity: 0.6;
}
  
@media screen and (max-width: 700px) {
    .popup__close-btn{
        top: calc(-40px - 13.62px);
        right: 0;
        width: 26px;
        height: 26px;
    }
}
